{% extends 'home.html' %}

{%block content%}
<div class="row justify-content-md-center about-detail">
    <h2>About</h2>
<h5 class="big-bm">
    The goal of Optimal is to help patients taking antidepressants find the best medication(s) for their needs.
     It incorporates some of the features of a "mood tracker", but also has some unique
      features. It can be difficult to rate the effectiveness of an antidepressant, because there are 
      so many outside factors that can affect our mood. This website will attempt to quantify the
       effectiveness of a drug. That way, a patient can see to what degree the drug is working, and will
        have better, more quantitative feedback to give their doctor than “I think it’s helping”, or, “It’s
        not helping”.
</h5>
    <h2>How do I use it?</h2>
    <h5>
        Using Optimal is simple, but also requires some self-discipline.
        <ol class="three-steps">
            <li>Create your free account.</li>
            <li>Take your first survey. Rate how you felt today, and whether you had a lot
                of outside factors that also affected your mood.</li>
            <li>Rinse and repeat!</li>
        </ol>
    </h5>
    <h5 class="big-bm">
        When doing the survey, don't spend too long on any one question, the whole survey should only take
         1-2 minutes to complete. Try to make a habit of logging into Optimal everyday (preferably in the
        evening, but any time is better than not at all).
        The more surveys you complete, the more accurate your results. At the end of every week, you'll
         receive a mood summary. This will include data points such as your average mood rating,
         number of surveys completed, and a Medication Effectiveness Score (MES).
         The MES is an approximation of how much your medication is really helping, taking into 
         account external factors. 
    </h5>
   
    <h2>Summaries</h2>
    <h5 class="big-bm">
        Further, you can see a list of your summaries under the 'Summaries' tab, allowing you to compare your 
        results from week to week. In the future, we plan to add the ability to see your results in 
        graph and calendar form.
    </h5>
</div>
{% endblock %}