{% extends 'home.html' %}

{%block content%}
<div class="row justify-content-md-center about-detail">
    <h1>About</h1>
<h4>
    The goal of my website is to help patients taking antidepressants find the best drug for them.
     It incorporates some of the features of a "mood tracker" app, but also has some unique
      features. It can be difficult to rate the effectiveness of an antidepressant, because there are 
      so many outside factors that can affect our mood. This website will attempt to quantify the
       effectiveness of a drug. That way, a patient can see to what degree the drug is working, and will
        have better, more quantitative feedback to give their doctor than “I think it’s helping”, or, “It’s
        not helping”.
</h4>
    <hr>
    <h1>How do I use it?</h1>
    <h4>
        Using Optimal is simple, but it requires some self-discipline in order to acheive the best results.
         Try to login to Optimal everyday, preferably in the evening, and take your daily survey. Rate how 
         you felt that day, and whether you had a lot of outside factors that also affected your mood.
         Then, at the end of every week, you'll receive a summary of your results. This will include data 
         points such as your average mood rating, number of surveys completed, and a Medication Effectiveness
         Score (MES). The MES is an approximation of how much your medication is really helping, taking into 
         account external factors. 
    </h4>
    <h4>
        You can see a list of your summaries under the 'Summaries' tab, allowing you to compare your 
        results from week to week. In the future, we plan to add the ability to see your results in 
        calendar form.
    </h4>
</div>
{% endblock %}