{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/optimal_logo.png" alt="logo">
          <span>Optimal</span>
        </a>
        <a href="/about" class="nav-btn">About</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/login" class="btn btn-success">Log in</a></li>
          <li><a href="/signup" class="btn btn-primary">Sign up</a></li>
      </ul>
    </div>
  </nav>
{% endblock navbar %}


{% block content %}
<div class="anon-hero">
    <div class="home-text">
        <h1>The Path To Finding the Best Medication For You Starts Here.</h1>
    </div>
    <div class="justify-content-center">
        <a href="/login" class="btn btn-lg btn-success">Log in</a>
    </div>
    <div class="justify-content-center">
      <div class="call-to-action">
        New to Optimal? Create an account today.
        <a href="/signup" class="btn btn-lg btn-primary mrg-left">Sign up</a>
      </div>
    </div>
    <div class="photo-cred">
      Photo by 
      <a href="https://unsplash.com/@souvenirpixels?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
      James Wheeler</a> on
      <a href="https://unsplash.com/photos/InOgamK2cuY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash</a>
    </div>
</div>
{% endblock %}