{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <h2 class="join-message">Medication Info</h2>
    <h4>We invite you to optionally input the medications you're taking here. This info will be kept
      confidential and will be used to provide you information on these drugs, such as
      side effects, possible warnings and complications, etc. We plan to add additional features regarding medication 
      management in the future.
    </h4>
    <!-- <h4>
      If you'd prefer to not share your medications, simply type 'NA' for the medication name and 
      '0' for the dosage.
    </h4> -->
  <div class="col-md-7 col-lg-5 signup">

    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field.label }}
          {{ field(class="form-control") }}
        {% endfor %}
      <button class="btn btn-primary btn-lg btn-block">Complete Signup</button>
    </form>
  </div>
</div>

{% endblock %}