{% extends 'home.html' %}

{% block content %}

{%if summaries %}
    {% for sum in summaries %}
        <div class="summary-card">
            <h4>Summary for {{sum.start_date}} - {{sum.end_date}}</h4>
            <hr>
            <h5><b>Surveys Completed: </b> {{sum.surveys_completed}}</h5>
            <h5><b>All Medications taken on : </b> 
                {{sum.num_of_days_meds_taken}} out of {{sum.duration}} days</h5>
            <h5><b>Average Mood: </b> {{sum.average_mood}}</h5>
            <h5><b>Average External Factor Rating: </b> {{sum.average_ef}}</h5>
            <h5><b>Average Medication Rating: </b> {{sum.average_med}}</h5>
            <hr>
            <h4><b>Medication Effectiveness Score: </b> {{sum.med_effectiveness_score}}</h4>
        </div>
    {%endfor%}

{%else%}
        <hr>
    <h3>No Summaries yet! Check back Sunday at 8PM.</h3>
{%endif%}

{% endblock %}
